@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@config '../../tailwind.config.ts';

/* @import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination'; */

/* @import 'leaflet/dist/leaflet.css';
@import 'react-leaflet-cluster/dist/assets/MarkerCluster.css';
@import 'react-leaflet-cluster/dist/assets/MarkerCluster.Default.css'; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-lg: 1025px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-green-brand: #006b51;
  --ease-variant2: cubic-bezier(0.54, 0, 0.33, 0.98);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --gjs-primary-color: #007bff;
  --gjs-secondary-color: #6c757d;
  --gjs-bg-color: #343a40;
  --gjs-main-color: #ffffff;
  --gjs-panel-bg: #222;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

[data-support-yes],
[data-support-no] {
  display: none;
}

@supports (view-transition-name: test) {
  [data-support] [data-support-yes] {
    display: inline;
  }
  [data-support] [data-support-no] {
    display: none;
  }
}

@supports not (view-transition-name: test) {
  [data-support] [data-support-yes] {
    display: none;
  }
  [data-support] [data-support-no] {
    display: inline;
  }
}

/* Safari */
@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  [data-support] [data-support-yes] {
    display: none;
  }
  [data-support] [data-support-no] {
    display: inline;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-size: 1vw;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  vertical-align: baseline;
  position: relative;
}

@media (max-width: 639px) {
  html {
    font-size: 4.267vw;
  }
}

/* Ẩn thanh cuộn */
.hidden_scroll {
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
}

.hidden_scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: currentColor !important;
}

/* Ẩn nút tăng/giảm trên tất cả trình duyệt */
input[type="number"] {
  appearance: textfield;
}

/* Ẩn trên WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn trên Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@utility text-outline {
  -webkit-text-stroke-color: #006b51;
  -webkit-text-stroke-width: 1.01px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
}

@utility text-outline-mb {
  -webkit-text-stroke-width: 0.52px;
}

@utility text-body {
  color: rgba(41, 41, 41, 0.8);
}
@utility text-dark {
  color: #292929;
}

/* Shimmer skeleton */
@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}
.skeleton {
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: skeleton-shimmer 1.5s infinite;
}
/* Tôn trọng Reduce Motion */
@media (prefers-reduced-motion: reduce) {
  .skeleton::after {
    animation: none;
  }
}

@utility text-linear-green {
  background: var(
    --Color-Title,
    linear-gradient(92deg, #094746 0.95%, #0b685c 84.54%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Ẩn scrollbar ở mọi trình duyệt */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
:root {
  --scrollbar-thumb: #006b51;
}

@utility bg-linear-green {
  background-image: linear-gradient(
    180deg,
    rgba(12, 142, 118, 0) 50%,
    rgba(0, 107, 81, 0.16) 100%
  );
}

@utility shadow-section {
  box-shadow: 0 12px 12px -6px rgba(3, 45, 96, 0.04),
    0 6px 6px -3px rgba(3, 45, 96, 0.04), 0 3px 3px -1.5px rgba(3, 45, 96, 0.04),
    0 1px 1px -0.5px rgba(1, 24, 51, 0.08), 0 0 0 1px rgba(3, 45, 96, 0.04);
}

html > body[data-scroll-locked] {
  overflow: auto !important;
  --removed-body-scroll-bar-size: 0px;
  margin-right: 0 !important;
}

@utility shadow-popup {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}
@utility shadow-popup-mobile {
  box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.08);
}
